<h1>Register for glug</h1>

<%= render 'form', student: @student %>
<%= link_to "Visit our Blog", "http://sjitglug.tumblr.com/", class: "button" %>
<!-- <div class="container" id = "blog">
    <%= link_to 'Visit our blog', "http://sjitglug.tumblr.com/",class: "btn btn-link" %>
</div> -->
